body {
    background-color: #141414;
    font-family: 'Nanum Gothic', sans-serif;
    color: #f3f1f1;
}

header {
    height: 4rem;
    width: 100%;
}

header .contain-init {
    width: 65%;
}

header .contain-init .contain-logo {
    width: 15%;
    height: 1.5rem;
    padding: 0.5rem;
}

header .contain-init .contain-logo img {
    height: 100%;
    width: 100%;
}